* {
    box-sizing: border-box;
}

body {

    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: rgb(54, 54, 54);

}

.btn {
    color: rgb(123, 164, 240);
    position: fixed;
    bottom: 15px;
    right: 20px;
    font-size: 13px;
    text-decoration: none;
    padding: 9px 25px;
    border-radius: 50px;
    background: rgb(32, 32, 32);
    box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.329);

    /* border: 1px solid red; */
}

.btn p {
    margin: 0;
    display: inline-block;
    position: relative;
    right: -10px;

}

.btn img {
    position: absolute;
    left: 14px;
}

.btn:hover {
    background: rgba(30, 39, 54, 0.452);
    transition: 0.1s;
}


/* menu no canto superior direito---------------------------------- */


.menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;

    /* border: 1px solid green; */
}

.menu a img {
    border-radius: 100px;
    background: rgb(54, 54, 54);
    padding: 8px;
}

.menu a img:hover {
    background: rgb(88, 88, 88);
    transition: 0.1s;
}

.icons {
    display: flex;
    padding-top: 5px;
    padding-right: 50px;
    justify-content: center;
    align-items: center;

}

.icons li {
    display: inline-block;
    color: white;
    font-size: 13.3px;
    font-weight: 410;
    margin-left: 11px;
    cursor: pointer;

}

.icons li:hover {
    text-decoration: underline;
}



/* logo e barra de pesquisa -------------------------------------- */


.main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    /* border: 1px solid red; */
}


.logo {
    margin-top: 180px;
    text-align: center;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(272deg) brightness(500%) contrast(100%);

    /* border: 1px solid yellow; */
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: calc(0.5 * 44px);
    width: 561px;
    height: 44px;

    /* border: 1px solid blue; */
}

.search input {
    border-style: none;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 520;
}


.barra-de-pesquisa {

    background: white;

    /* border: 1px solid red; */
    width: 465px;
    height: 42px;

}


/* pra tirar a borda ao ativar o input------------ */

textarea:focus,
input:focus,
select:focus {
    outline: 0;
}


/* para sumir o texto do search--------- */

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    /* Firefox 18- */
    color: transparent;
}

input:focus::-moz-placeholder {
    /* Firefox 19+ */
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}